h2 {
    color: blue;
    font-style: oblique;
}
body {
    background-color: bisque;
}
.hii{
            display: flex;
            height: 70vh;
            width: 70vm;
            border: 2px solid rgb(243, 2, 2);
            justify-content:space-evenly;
            align-items: center;
            margin: 2vw;
            padding: 4vw
}


